{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_4/lab4_form.css'%}">
  </head>
  <div class="header">
    <a class="title">Alya's</a>
    <div class="header-right">
      <a class="active" href="http://127.0.0.1:8000/lab-4/">Inbox</a> <!-- Go to index-->
      <a href="http://127.0.0.1:8000/lab-4/note-list">Message</a> <!-- Cards -->
      <a href="http://127.0.0.1:8000/lab-4/add-note">Create Notes</a> <!-- Link To add a new note-->
    </div>
  </div>
  <div class="segment">
    <h1>Write Your Message!</h1>
  </div>
  <div class="isi">
    <form action="" method="POST">
      {% csrf_token %}
        <div class="To">
          <label>To :</label>
          <br>
          {{ form.to }}
        </div>
        <div class="form">
          <label>From :</label>
          <br>
          {{ form.from_who }}
        </div>
        <div class="title">
          <label>Title : </label>
          <br>
          {{ form.title }}
        </div>
        <div class="message">
          <label>Message : </label>
          <br>
          {{ form.message }}
        </div>
      <input class="submit" type="submit" value="submit"/>
  <!--    <button class="red" type="button"><i class="icon ion-md-lock"></i> Submit</button>-->
  <!--    <input type="submit" value="submit">-->
    </form>
  </div>
</html>