{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'lab_4/lab4_note_list.css'%}">
    </head>
    <body>
    <div class="header" style="font-family: Montserrat, sans-serif;">
        <a class="title">Alya's</a>
        <div class="header-right">
            <a class="active" href="http://127.0.0.1:8000/lab-4/">Inbox</a> <!-- Go to index-->
            <a href="http://127.0.0.1:8000/lab-4/note-list">Message</a> <!-- Cards -->
            <a href="http://127.0.0.1:8000/lab-4/add-note">Create Notes</a> <!-- Link To add a new note-->
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
<!--    {% if note %}-->
    {% for notes in note %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">To : {{ notes.to }}</h5>
                    <h5 class="card-title">From : {{ notes.from_who }}</h5>
                    <h5 class="card-title">{{ notes.title }}</h5>
                    <p class="card-text">{{ notes.message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
<!--    {% endif %}-->
    </div>
    </body>
</html>