{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <link rel="stylesheet" type="text/css" href="{% static 'lab_4/lab4_index.css'%}">
    </head>
    <body>
        <div class="header">
            <a class="title">Alya's</a>
            <div class="header-right">
                <a class="active" href="http://127.0.0.1:8000/lab-4/">Inbox</a> <!-- Go to index-->
                <a href="http://127.0.0.1:8000/lab-4/note-list">Message</a> <!-- Cards -->
                <a href="http://127.0.0.1:8000/lab-4/add-note">Create Notes</a> <!-- Link To add a new note-->
            </div>
        </div>
        <table class="table-group", border = "2">
            <thead>
                <th class="to_column" scope="col">to</th>     <!-- th : table heading -->
                <th class="from_column" scope="col">from_who</th>
                <th class="title_column" scope="col">title</th>
                <th class="message_column" scope="col">message</th>
            </thead>
<!--            {% if note %}-->
            <tbody>
                {% for notes in note %}
                <tr>
                    <td>{{ notes.to }}</td>
                    <td>{{ notes.from_who }}</td>
                    <td>{{ notes.title }}</td>
                    <td>{{ notes.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
<!--            {% endif %}-->
        </table>
    </body>
</html>