<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  <style>
  body {
    background-image: url(https://i.pinimg.com/564x/5c/db/81/5cdb816940801d8683603caf8f33fe41.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  hi  {
    font-family: 'Poppins', sans-serif;
  }
  </style>
  </head>
  <body>
    <h1>Welcome!</h1>
    <table border = "1" align="center" width="80%">
      <caption>Here's Your Friend Table</caption>
      <tr>
        <th bgcolor="#b0c4de">Name</th>
        <th bgcolor="#ffb6c1">NPM</th>
        <th bgcolor="#dda0dd">DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <body>
        {% for friend in friends %}
          <tr>
            <td bgcolor="#b0c4de">{{ friend.name }}</td>
            <td bgcolor="#ffb6c1">{{ friend.npm }}</td>
            <td bgcolor="#dda0dd">{{ friend.dob }}</td>
          </tr>
          {% endfor %}
      </body>
      <!-- END SECTION -->
    </table>
  </body>
</html>
