<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="submit">
  <style>
    input[type=submit] {
      width: 30%;
      background-color: cornflowerblue;
      color: yellow;
      padding: 12px 8px;
      margin: 8px 0;
      border: none;
      border-radius: 17px;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
    }
    body {
      background-image: url(https://i.pinimg.com/564x/5c/db/81/5cdb816940801d8683603caf8f33fe41.jpg);
      background-size: 100% ;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</form>