<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Note</title>
</head>
<body>
<table border = "2" bgcolor = #87ceeb bordercolor = "purple">
    <tr>
        <th>to</th>
        <th>from_who</th>
        <th>title</th>
        <th>message</th>
    </tr>
    <!-- TODO loop from Friend model -->
    <body>
    {% if note %}
    {% for notes in note %}
    <tr>
        <td>{{ notes.to }}</td>
        <td>{{ notes.from_who }}</td>
        <td>{{ notes.title }}</td>
        <td>{{ notes.message }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </body>
</table>
</body>
</html>