.header {
    overflow: hidden;
    background-color: #2A445E;
    padding: 20px 10px;
}
.header a.title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
.header a {
    float: left;
    /* color: #ffffff; */
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-right  :hover {
    background-color: #F3AA20;
    color: black;
}
.header-right {
    float: right;
}
body {
    background-color: #EBECF0;
}
.card {
    background-color: #CEDDF2;
}