.header {
    overflow: hidden;
    background-color: #2A445E;
    padding: 20px 10px;
    font-family: "Montserrat", "sans-serif";
}
.header a.title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
.header a {
    float: left;
    /* color: #ffffff; */
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-right  :hover {
    background-color: #F3AA20;
    color: black;
}
.header-right {
    float: right;
}
body {
    background-color: #EBECF0;
}
table.table-group {
    background-color: #BDD1C5;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
}
thead {
    background-color: #EDCC8B;
}
tr:nth-child(even) {
    background-color: #9DAAA2;
}
