.header {
    overflow: hidden;
    background-color: #2A445E;
    padding: 20px 10px;
    font-family: "Montserrat", "sans-serif";
}
.header a.title {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
.header a {
    float: left;
    /* color: #ffffff; */
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-right  :hover {
    background-color: #F3AA20;
    color: black;
}
.header-right {
    float: right;
}
.segment{
    padding: 16px;
    text-align: center;
}
.isi {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit {
    /*font-family: 'Montserrat', sans-serif;*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3AA20;
    width: 230px;
    height: 35px;
    text-align: center;
    color: #841E62;
    font-size: 16px;
    border-radius: 16px;
    text-shadow: 1px 1px 1px #FFF;
}

body {
    background-color:#EBECF0;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
